<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
  
    <header class="navbar navbar-default navbar-fixed-top">
        <%- include('partials/header') %>
    </header>

    <div class="container">
    
        <div class="jumbotron">
            <h2><%= title %></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim amet libero labore, atque provident reprehenderit consequuntur magnam quos sunt debitis nisi tempora maxime tempore eius nihil consequatur facilis ut blanditiis facere et, impedit sapiente placeat odit id. Quos nisi totam, saepe id eaque delectus sit exercitationem aut expedita optio. Reprehenderit.</p>
            <p><a role="button" href="#" class="btn btn-primary btn-md">Details »</a></p>
        </div>

    </div>
   
    <footer class="footer">
        <%- include('partials/footer') %>
    </footer>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  </body>
</html>
